body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wbdv-icons {
  margin: 0 5px;
}

a:link.wbdv-button {
  background-color: #FF4D4D;
  color: white;
}

a:link.wbdv-button:hover {
  background-color: #B33636;
}

a:visited.wbdv-button {
  background-color: #FF4D4D;
  color: white;
}

a:visited.wbdv-button:hover {
  background-color: #B33636;
}

.wbdv-icons {
  cursor: pointer;
}
